Repository KlubJagiellonski/pola-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, isort

.pre-commit-config.yaml:

---
default_stages: [commit, push]
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
minimum_pre_commit_version: "1.20.0"
exclude: "^pola-web"
repos:
  #  - repo: https://github.com/Lucas-C/pre-commit-hooks
  #    rev: v1.1.7
  #    hooks:
  #      - id: forbid-tabs
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-xml
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args:
          - --remove
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.4.3
    hooks:
      - id: pyupgrade
        args: [--py3-plus]
        language_version: "python3.7"
  - repo: https://github.com/psf/black
    rev: '19.10b0'
    hooks:
      - id: black
        args: ["--line-length", "120", "--skip-string-normalization", "--target-version", "py35"]
        language_version: python3.7
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.5.1
    hooks:
      - id: rst-backticks
      - id: python-no-log-warn
  #  - repo: https://github.com/pre-commit/mirrors-pylint
  #    rev: 'v2.5.2'
  #    hooks:
  #      - id: pylint
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.0'
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: yamllint
        name: Check yaml files with yamllint
        entry: yamllint -c yamllint-config.yml
        language: python
        additional_dependencies: ['yamllint']
        types: [yaml]
      - id: shellcheck
        name: Check Shell scripts syntax correctness
        language: docker_image
        entry: koalaman/shellcheck:stable -x -a
        files: \.sh$
      - id: hadolint
        name: Hadolint
        description: Haskell-based Docker image linter
        language: docker_image
        types:
          - dockerfile
        entry: --entrypoint /bin/hadolint hadolint/hadolint:latest --ignore DL3013 --ignore DL3018 --ignore DL3008 -
      - id: isort
        name: Run isort to sort imports
        language: python
        entry: isort
        files: \.py$
        additional_dependencies: ['isort']

Remove unnecessary optimisation from Docker
  .github/workflows/ci.yml
Due: yamllint

The test result is correctly reported
  .github/workflows/ci.yml
Due: yamllint

Update docker-compose-ci.yaml
  docker-compose-ci.yaml
Due: yamllint

Remove unnecessary optimisation from Docker (#354)
  .github/workflows/ci.yml
Due: yamllint

The test result is correctly reported (#355)
  .github/workflows/ci.yml
  docker-compose-ci.yaml
Due: yamllint

Add Sentry Debug View
  pola/config/urls.py
Due: isort

Add Sentry Debug View (#356)
  pola/config/urls.py
Due: isort

Update team.html (#351)
  pola/webviews/templates/team.html
Due: none

Update index.html (#352)
  pola/templates/index.html
Due: none

Add more sentry debug views
  pola/rpc_api/urls.py
  pola/rpc_api/views.py
Due: isort

Add more Sentry debug view (#357)
  pola/rpc_api/urls.py
  pola/rpc_api/views.py
Due: isort

Update aws-cli.sh
  scripts/aws-cli.sh
Due: shellcheck

Improve error message in ./aws-cli.sh (#367)
  scripts/aws-cli.sh
Due: shellcheck

Remove API v1
  pola/rpc_api/tests/test_urls.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/urls.py
  pola/rpc_api/views.py
Due: isort

Add missing migrations
  ai_pics/migrations/0007_auto_20210117_0109.py
  company/migrations/0020_auto_20210117_0109.py
  product/migrations/0012_auto_20210117_0109.py
Due: isort

Add CI check
  .github/workflows/ci.yml
Due: yamllint

Add missing migrations (#379)
  .github/workflows/ci.yml
  ai_pics/migrations/0007_auto_20210117_0109.py
  company/migrations/0020_auto_20210117_0109.py
  product/migrations/0012_auto_20210117_0109.py
Due: yamllint, isort

Add Django checks to CI
  .github/workflows/ci.yml
  ai_pics/models.py
Due: yamllint, isort

fixup! Add Django checks to CI
  .github/workflows/ci.yml
Due: yamllint

Remove duplicate docker-compose file
  .github/workflows/ci.yml
  docker-compose-ci.yaml
  docker-compose.yaml
Due: yamllint

fixup! Remove duplicate docker-compose file
  .github/workflows/ci.yml
Due: yamllint

Add migration
  ai_pics/migrations/0008_auto_20210117_0154.py
Due: isort

fixup! fixup! Remove duplicate docker-compose file
  docker-compose.yaml
Due: yamllint

fixup! fixup! fixup! Remove duplicate docker-compose file
  docker-compose.yaml
Due: yamllint

Add Django checks to CI (#380)
  .github/workflows/ci.yml
  ai_pics/migrations/0008_auto_20210117_0154.py
  ai_pics/models.py
Due: yamllint, isort

Remove duplicate docker-compose file (#381)
  .github/workflows/ci.yml
  docker-compose-ci.yaml
  docker-compose.yaml
Due: yamllint

Remove API v1 (#378)
  pola/rpc_api/tests/test_urls.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/urls.py
  pola/rpc_api/views.py
Due: isort

Upload coverage to codecov
  .github/workflows/ci.yml
Due: yamllint

fixup! Upload coverage to codecov
  .github/workflows/ci.yml
Due: yamllint

fixup! fixup! Upload coverage to codecov
  .github/workflows/ci.yml
Due: yamllint

fixup! fixup! fixup! Upload coverage to codecov
  .github/workflows/ci.yml
Due: yamllint

Upload coverage to codecov (#382)
  .github/workflows/ci.yml
Due: yamllint

Remove dead code
  company/api/__init__.py
  company/api/serializers.py
  company/forms.py
  company/tests/test_views.py
  pola/logic.py
  pola/mojepanstwo_api/__init__.py
  pola/mojepanstwo_api/krs.py
  pola/mojepanstwo_api2/__init__.py
  pola/mojepanstwo_api2/krs.py
Due: isort

fixup! Remove dead code
  company/forms.py
Due: isort

Remove unused code (#383)
  company/api/__init__.py
  company/api/serializers.py
  company/forms.py
  company/tests/test_views.py
  pola/logic.py
  pola/mojepanstwo_api/__init__.py
  pola/mojepanstwo_api/krs.py
  pola/mojepanstwo_api2/__init__.py
  pola/mojepanstwo_api2/krs.py
Due: isort

Disable AI requests and remove read AI pics endpoint
  pola/logic_ai.py
  pola/rpc_api/tests/test_urls.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/urls.py
  pola/rpc_api/views.py
Due: isort

Add basic tests for CLI commands
  ai_pics/views.py
  pola/logic_workers.py
  pola/management/commands/delete_empty_ai_pics.py
  pola/management/commands/delete_empty_reports.py
  pola/management/commands/delete_reduntant_reports.py
  pola/management/commands/send_ai_pics_stats.py
  pola/s3.py
  pola/slack.py
  pola/tests/commands/__init__.py
  pola/tests/commands/test_delete_empty_ai_pics.py
  pola/tests/commands/test_delete_empty_reports.py
  pola/tests/commands/test_delete_empty_revisions.py
  pola/tests/commands/test_delete_rare_products.py
  pola/tests/commands/test_delete_reduntant_reports.py
  pola/tests/commands/test_recalculate_query_count.py
  pola/tests/commands/test_requery_590_codes.py
  pola/tests/commands/test_requery_all_codes.py
  pola/tests/commands/test_send_ai_pics_stats.py
  pola/tests/commands/test_update_from_kbpoz.py
  pola/tests/test_command_delete_empty_reports.py
  pola/tests/test_command_delete_empty_reportts.py
  pola/tests/test_command_delete_empty_revisions.py
  pola/tests/test_command_delete_rare_products.py
  pola/tests/test_command_delete_reduntant_reports.py
  pola/tests/test_command_recalculate_query_count.py
  pola/tests/test_command_requery_590_codes.py
  pola/tests/test_command_requery_all_codes.py
  pola/tests/test_command_send_ai_pics_stats.py
  pola/tests/test_command_update_from_kbpoz.py
  report/factories.py
Due: isort

Improve codecov integration in docker environment
  .github/workflows/ci.yml
Due: yamllint

fixup! Improve codecov integration in docker environment
  .github/workflows/ci.yml
Due: yamllint

fixup! Add basic tests for CLI commands
  .github/workflows/ci.yml
Due: yamllint
