Repository KlubJagiellonski/pola-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, yamllint, shellcheck, isort

.pre-commit-config.yaml:

---
default_stages: [commit, push]
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
minimum_pre_commit_version: "1.20.0"
exclude: '^pola/static|^db_kbpoz/'
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-tabs
        exclude: ^pola/tests/commands/test_import_brands_fixture\.tsv$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args:
          - --remove
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
      - id: pyupgrade
        args: ['--py38-plus']
  - repo: https://github.com/psf/black
    rev: '20.8b1'
    hooks:
      - id: black
        args: ["--line-length", "120", "--skip-string-normalization", "--target-version", "py38"]
        language_version: python
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.7.1
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  #  - repo: https://github.com/pre-commit/mirrors-pylint
  #    rev: 'v2.5.2'
  #    hooks:
  #      - id: pylint
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.4'
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: flynt
        name: Convert to f-strings with flynt
        entry: flynt
        language: python
        language_version: python3
        additional_dependencies: ['flynt']
        files: \.py$
      - id: yamllint
        name: Check yaml files with yamllint
        entry: yamllint -c yamllint-config.yml
        language: python
        additional_dependencies: ['yamllint']
        types: [yaml]
      - id: shellcheck
        name: Check Shell scripts syntax correctness
        language: docker_image
        entry: koalaman/shellcheck:stable -x -a
        files: \.sh$
      - id: hadolint
        name: Hadolint
        description: Haskell-based Docker image linter
        language: docker_image
        types:
          - dockerfile
        entry: --entrypoint /bin/hadolint hadolint/hadolint:latest --ignore DL3013 --ignore DL3018 --ignore DL3008 -
      - id: isort
        name: Run isort to sort imports
        language: python
        entry: isort
        files: \.py$
        additional_dependencies: ['isort']

PW-136: search on input update
  src/search/form/SearchInput.tsx
  src/state/search/search-reducer.ts
Due: none

fix SEO component
  src/layout/SEOMetadata.tsx
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/faq.tsx
  src/pages/friends.tsx
  src/pages/index.tsx
  src/pages/join.tsx
  src/pages/news.tsx
  src/pages/products.tsx
  src/pages/support.tsx
Due: none

fix missing window object
  src/state/app/app-reducer.ts
  src/state/articles/articles-reducer.ts
  src/state/friends/friends-reducer.ts
  src/state/search/search-reducer.ts
  src/utils/browser/index.ts
Due: none

FIx deploy to Github Pages
  .github/workflows/ci.yaml
Due: yamllint

PW-49: updated product details
  src/components/checkbox/index.tsx
  src/layout/PageLayout.tsx
  src/layout/modal/Modal.tsx
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/faq.tsx
  src/pages/friends.tsx
  src/pages/index.tsx
  src/pages/join.tsx
  src/pages/news.tsx
  src/pages/products.tsx
  src/pages/support.tsx
  src/search/ProductScore.tsx
  src/search/ScoreBar.tsx
  src/search/product-modal/ProductDetails.tsx
  src/search/product-modal/index.tsx
  src/search/results-list/ProductElement.tsx
  src/utils/browser/SEOMetadata.tsx
  src/utils/browser/index.ts
Due: none

PW-49: update modal overflow
  src/components/buttons/IconButton.tsx
  src/components/checkbox/index.tsx
  src/domain/products/index.ts
  src/domain/products/search-service.ts
  src/layout/modal/Modal.tsx
  src/layout/modal/ModalHeader.tsx
  src/search/product-modal/ProductDetails.tsx
  src/search/product-modal/ProductModalAction.tsx
  src/search/product-modal/index.tsx
Due: none

PW-49: update development placeholders
  src/layout/DevelopmentPlaceholder.tsx
  src/layout/PageHeader.tsx
  src/layout/PageSection.tsx
  src/layout/nav/NavbarMenu.tsx
  src/pages/faq.tsx
  src/pages/friends.tsx
  src/pages/index.tsx
  src/pages/products.tsx
  src/search/ScoreBar.tsx
  src/search/results-list/ProductCounter.tsx
  src/search/results-list/ProductElement.tsx
  src/search/results-list/SearchResultsHeader.tsx
  src/search/results-list/SearchResultsList.tsx
  src/state/search/search-reducer.ts
  src/styles/pola-web.css
  src/utils/browser/urls.ts
Due: none

PW-49: fix styling of sections and navigationn
  src/components/checkbox/index.tsx
  src/domain/generic.ts
  src/layout/PageHeader.tsx
  src/layout/PageSection.tsx
  src/layout/nav/NavItem.tsx
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/faq.tsx
  src/pages/friends.tsx
  src/pages/index.tsx
  src/pages/join.tsx
  src/pages/news.tsx
  src/pages/products.tsx
  src/pages/support.tsx
  src/search/results-list/ProductCounter.tsx
  src/search/results-list/SearchResultsHeader.tsx
  src/styles/pola-web.css
Due: none

PW-49: bigger hamburger icon
  src/layout/nav/HamburgerMenu.tsx
Due: none

fix styled components for Gatsby
  gatsby-config.js
  package-lock.json
  package.json
Due: none

PW-49: fix mobile layout
  src/pages/index.tsx
  src/search/form/SearchForm.tsx
  src/search/form/SearchInput.tsx
Due: none

PW-49: clean up
  src/components/Friends.tsx
  src/components/articles/ArticleBlock.tsx
  src/components/images/ResponsiveImage.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/search/product-modal/index.tsx
  src/utils/click-outside/index.tsx
Due: none

PW-49: move all website models and data to one file
  src/components/ScoreBar.tsx
  src/components/Spinner.tsx
  src/components/links/index.tsx
  src/domain/generic.ts
  src/domain/website.ts
  src/layout/PageHeader.tsx
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/faq.tsx
  src/pages/friends.tsx
  src/pages/index.tsx
  src/pages/join.tsx
  src/pages/news.tsx
  src/pages/products.tsx
  src/pages/support.tsx
  src/search/form/SearchForm.tsx
  src/search/product-modal/ProductDetails.tsx
  src/search/product-modal/index.tsx
  src/search/results-list/ProductElement.tsx
  src/search/results-list/SearchResultsHeader.tsx
  src/utils/browser/urls.ts
Due: none

PW-49: simulate api delay
  src/search/results-list/SearchResultsHeader.tsx
  src/state/search/search-dispatcher.ts
Due: none

Add basic post template (#111)
  content/posts/2017-10-05--you-only-live-once/index.md
  content/posts/2017-10-05--you-only-live-once/photo-1456518563096-0ff5ee08204e-cover.jpg
  content/posts/2017-10-05--you-only-live-once/photo-1456518563096-0ff5ee08204e.jpg
  content/posts/2020-12-12--swiateczne-zakupy-z-pola/index.md
  content/posts/2020-12-12--swiateczne-zakupy-z-pola/pexels-nadi-lindsay-3768323-1.png
  content/posts/2021-03-17--wielkanocne-zakupy-z-pola/index.md
  content/posts/2021-03-17--wielkanocne-zakupy-z-pola/pexels-pixabay-33239-2.png
  content/posts/2021-04-21--majowka-z-pola/index.md
  content/posts/2021-04-21--majowka-z-pola/pexels-polina-tankilevitch-3735657-1.png
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/Contents.tsx
  src/components/articles/ArticleFooter.tsx
  src/components/articles/ArticleHeader.tsx
  src/components/articles/ArticlePage.tsx
  src/components/articles/list/ArticleBlock.tsx
  src/components/articles/list/ArticlesList.tsx
  src/components/images/ResponsiveImage.tsx
  src/domain/articles/article-service.ts
  src/domain/articles/index.ts
  src/domain/website.ts
  src/layout/PageLayout.tsx
  src/layout/StateLoader.tsx
  src/pages/index.tsx
  src/pages/news.tsx
  src/state/app/app-reducer.ts
  src/state/articles/articles-dispatcher.ts
  src/templates/ArticleTemplate.tsx
  src/utils/dates/index.ts
Due: none

clean up pages
  src/components/articles/ArticlePage.tsx
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/faq.tsx
  src/pages/friends.tsx
  src/pages/index.tsx
  src/pages/join.tsx
  src/pages/news.tsx
  src/pages/products.tsx
  src/pages/support.tsx
  src/utils/browser/SEOMetadata.tsx
Due: none

fix SEO component
  src/utils/browser/SEOMetadata.tsx
Due: none

add social media and sad basket (#154)
  package-lock.json
  src/assets/10000_Obszar_roboczy_1.png
  src/assets/100_pkt_Obszar_roboczy _1.png
  src/assets/3000_Obszar_roboczy_1.png
  src/assets/5000_Obszar_roboczy_1.png
  src/assets/ikona-koordynacja.png
  src/assets/ikona-redakcja.png
  src/assets/makaron.png
  src/assets/platki.png
  src/assets/smutny-2.png
  src/assets/social-media/facebook.png
  src/assets/social-media/instagram.png
  src/assets/social-media/twitter.png
  src/assets/sok.png
  src/assets/szproty.png
  src/components/DevelopmentSection.tsx
  src/components/SocialMedia.tsx
  src/layout/StateLoader.tsx
  src/pages/index.tsx
  src/pages/news.tsx
Due: none

Update pola/templates/index.html
  pola/templates/index.html
Due: none

Update pola/webviews/templates/team.html
  pola/webviews/templates/team.html
Due: none

Update bi.txt
  requirements/bi.txt
Due: none

Nowa osoba w zespole (#751)
  pola/templates/index.html
  pola/webviews/templates/team.html
Due: none

fixup! Update bi.txt
  requirements/bi.txt
Due: none

fixup! fixup! Update bi.txt
  pola-bi/dbt/packages.yml
Due: yamllint

Add OpenAPI specification with validation
  pola/config/urls.py
  pola/rpc_api/http.py
  pola/rpc_api/openapi-v1.yaml
  pola/rpc_api/openapi.py
  pola/rpc_api/urls.py
  pola/rpc_api/views.py
  requirements/ci.txt
  requirements/production.txt
Due: flynt, yamllint, isort

Update ci.txt
  requirements/ci.txt
Due: none

Apply suggestions from code review
  requirements/ci.txt
  requirements/production.txt
Due: none

Add OpenAPI specification with validation (#652)
  pola/config/urls.py
  pola/rpc_api/http.py
  pola/rpc_api/openapi-v1.yaml
  pola/rpc_api/openapi.py
  pola/rpc_api/urls.py
  pola/rpc_api/views.py
  requirements/ci.txt
  requirements/production.txt
Due: flynt, yamllint, isort

Update production.txt
  requirements/production.txt
Due: none

add products move feature
  company/forms.py
  company/templates/company/company_detail.html
  company/templates/company/company_move_products.html
  company/tests/test_views.py
  company/urls.py
  company/views.py
Due: flynt, isort

fixup rpc_api test
  pola/rpc_api/tests/test_views.py
Due: flynt, isort

Update pre-commit hooks + cleanup
  .pre-commit-config.yaml
  .pylintrc
  .pyup.yml
  pola/__init__.py
Due: flynt, yamllint, isort

Update pre-commit hooks + cleanup (#878)
  .pre-commit-config.yaml
  .pylintrc
  .pyup.yml
  pola/__init__.py
Due: flynt, yamllint, isort

Split API views into multiple modules
  pola/rpc_api/jsonschema.py
  pola/rpc_api/urls.py
  pola/rpc_api/views.py
  pola/rpc_api/views_debug.py
  pola/rpc_api/views_v2.py
  pola/rpc_api/views_v3.py
  pola/rpc_api/views_v4.py
Due: flynt, isort

fixup! Split API views into multiple modules
  pola/rpc_api/urls.py
Due: flynt, isort

fixup! fixup! Split API views into multiple modules
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/tests/test_views_v2.py
  pola/rpc_api/tests/test_views_v3.py
  pola/rpc_api/tests/test_views_v4.py
Due: flynt, isort

logo partners
  src/assets/logo_cakjv2_crop.png
  src/assets/logo_kodujdlapolski.png
  src/assets/logo_logistyka.png
Due: none
