Repository KlubJagiellonski/pola-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, yamllint, shellcheck, isort

.pre-commit-config.yaml:

---
default_stages: [commit, push]
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
minimum_pre_commit_version: "1.20.0"
exclude: '^pola/static|^db_kbpoz/'
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-tabs
        exclude: ^pola/tests/commands/test_import_brands_fixture\.tsv$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args:
          - --remove
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
      - id: pyupgrade
        args: ['--py38-plus']
  - repo: https://github.com/psf/black
    rev: '20.8b1'
    hooks:
      - id: black
        args: ["--line-length", "120", "--skip-string-normalization", "--target-version", "py38"]
        language_version: python
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.7.1
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  #  - repo: https://github.com/pre-commit/mirrors-pylint
  #    rev: 'v2.5.2'
  #    hooks:
  #      - id: pylint
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.4'
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: flynt
        name: Convert to f-strings with flynt
        entry: flynt
        language: python
        language_version: python3
        additional_dependencies: ['flynt']
        files: \.py$
      - id: yamllint
        name: Check yaml files with yamllint
        entry: yamllint -c yamllint-config.yml
        language: python
        additional_dependencies: ['yamllint']
        types: [yaml]
      - id: shellcheck
        name: Check Shell scripts syntax correctness
        language: docker_image
        entry: koalaman/shellcheck:stable -x -a
        files: \.sh$
      - id: hadolint
        name: Hadolint
        description: Haskell-based Docker image linter
        language: docker_image
        types:
          - dockerfile
        entry: --entrypoint /bin/hadolint hadolint/hadolint:latest --ignore DL3013 --ignore DL3018 --ignore DL3008 -
      - id: isort
        name: Run isort to sort imports
        language: python
        entry: isort
        files: \.py$
        additional_dependencies: ['isort']

Update .mergify.yml
  .mergify.yml
Due: yamllint

Apply suggestions from code review
  .mergify.yml
Due: yamllint

Update .mergify.yml (#712)
  .mergify.yml
Due: yamllint

Fix ordering in filters
  company/filters.py
  product/filters.py
  report/filters.py
Due: flynt, isort

Fix ordering in filters (#713)
  company/filters.py
  product/filters.py
  report/filters.py
Due: flynt, isort

Update .mergify.yml (#716)
  .mergify.yml
Due: yamllint

Display environment status on Github
  .github/workflows/ci.yml
  scripts/deploy.sh
  scripts/detect_app_name.sh
  scripts/fetch_domain.sh
Due: yamllint, shellcheck

fixup! Display environment status on Github
  .github/workflows/ci.yml
Due: yamllint

Display environment status on Github (#717)
  .github/workflows/ci.yml
  scripts/deploy.sh
  scripts/detect_app_name.sh
  scripts/fetch_domain.sh
Due: yamllint, shellcheck

fixup! Display environment status on Github (#717)
  scripts/detect_app_name.sh
Due: shellcheck

fixup! fixup! Display environment status on Github (#717)
  scripts/detect_app_name.sh
Due: shellcheck

fixup! fixup! fixup! Display environment status on Github (#717)
  .github/workflows/ci.yml
  scripts/detect_app_name.sh
Due: yamllint, shellcheck

fixup! fixup! fixup! fixup! Display environment status on Github (#717)
  scripts/detect_app_name.sh
Due: shellcheck

PW-32: hanling search on ENTER pressed
  src/components/search/SearchInput.tsx
  src/utils/data/random-number.ts
  tslint.json
Due: none

PW-32: separate search input and results list
  src/components/search/index.tsx
  src/layout/PageLayout.tsx
  src/pages/index.tsx
  src/search/ProductScore.tsx
  src/search/form/SearchForm.tsx
  src/search/form/SearchInput.tsx
  src/search/product-modal/ProductModal.tsx
  src/search/product-modal/ProductModalAction.tsx
  src/search/results-list/ProductElement.tsx
  src/search/results-list/SearchResultsList.tsx
Due: none

PW-32: update search results
  src/pages/index.tsx
  src/search/form/SearchForm.tsx
  src/search/form/SearchInput.tsx
  src/search/results-list/ProductCounter.tsx
  src/search/results-list/ProductElement.tsx
  src/search/results-list/SearchResultsList.tsx
  src/styles/theme.tsx
Due: none

PW-32: styles for search input
  package-lock.json
  package.json
  src/layout/PageLayout.tsx
  src/pages/index.css
  src/pages/index.tsx
  src/search/ProductScore.tsx
  src/search/form/SearchForm.tsx
  src/search/results-list/ProductElement.tsx
  src/search/results-list/SearchResultsList.tsx
  src/styles/pola-web.css
Due: none

PW-32: styling search input
  src/components/Download.tsx
  src/components/links/index.tsx
  src/search/form/SearchForm.tsx
  src/search/form/SearchInput.tsx
Due: none

PW-32: pola logo
  src/assets/logo/pola-color.svg
  src/assets/logo/pola-white.svg
  src/components/icons/pola-icon.svg
  src/components/icons/pola-logo.tsx
  src/components/spinner.tsx
  src/layout/PageFooter.tsx
  src/layout/Pola-Logo.tsx
  src/layout/PolaLogo.tsx
  src/layout/nav/HamburgerMenu.tsx
  src/layout/nav/NavbarMenu.tsx
  src/search/results-list/SearchResultsList.tsx
  src/styles/theme.tsx
Due: none

Update team.html
  pola/webviews/templates/team.html
Due: none

Nowy członek w zespole cz.2
  pola/templates/index.html
Due: none

PW-32: use primary and secondary buttons
  gatsby-config.js
  src/assets/gatsby-astronaut.png
  src/components/About.tsx
  src/components/DevelopmentSection.tsx
  src/components/SocialMedia.tsx
  src/components/Teams.tsx
  src/components/TeamsFriend.tsx
  src/components/articles/ArticleBlock.tsx
  src/components/articles/ArticlesList.tsx
  src/components/buttons/Button.tsx
  src/components/buttons/PrimaryButton.tsx
  src/components/buttons/SecondaryButton.tsx
  src/layout/PageSection.tsx
  src/pages/index.tsx
  src/search/form/SearchInput.tsx
  src/search/product-modal/ProductModal.tsx
  src/search/product-modal/ProductModalAction.tsx
  src/search/results-list/SearchResultsList.tsx
  src/styles/button-theme.ts
Due: none

PW-32: canceling search
  src/pages/index.tsx
  src/state/search/search-actions.ts
  src/state/search/search-dispatcher.ts
  src/state/search/search-reducer.ts
Due: none

PW-32: products page
  src/components/spinner.tsx
  src/domain/generic.ts
  src/layout/modal/Modal.tsx
  src/pages/index.tsx
  src/pages/products.tsx
  src/search/results-list/SearchResultsList.tsx
  src/state/search/search-dispatcher.ts
  src/styles/pola-web.css
  src/styles/theme.tsx
Due: none

PW-32: search state machine
  src/state/search/search-actions.ts
  src/state/search/search-dispatcher.ts
  src/state/search/search-reducer.ts
  src/state/types.ts
Due: none

PW-32: fix loading more
  src/components/buttons/Button.tsx
  src/components/buttons/PrimaryButton.tsx
  src/components/buttons/SecondaryButton.tsx
  src/domain/products/search-service.ts
  src/pages/index.tsx
  src/pages/products.tsx
  src/search/product-modal/ProductModalAction.tsx
  src/search/results-list/SearchResultsHeader.tsx
  src/search/results-list/SearchResultsList.tsx
  src/state/search/search-dispatcher.ts
Due: none

PW-32: redirect to home page if no search results
  src/pages/products.tsx
Due: none

PW-32: fix missing window object
  src/pages/products.tsx
Due: none

PW-43: navigation item
  src/domain/generic.ts
  src/layout/PageHeader.tsx
  src/layout/nav/NavItem.tsx
  src/layout/nav/NavbarMenu.tsx
Due: none

PW-43: add empty subpages
  src/domain/generic.ts
  src/layout/DevelopmentPlaceholder.tsx
  src/layout/PageHeader.tsx
  src/layout/PageLayout.tsx
  src/layout/nav/NavItem.tsx
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/faq.tsx
  src/pages/friends.tsx
  src/pages/index.tsx
  src/pages/join.tsx
  src/pages/products.tsx
  src/pages/support.tsx
  src/state/app/app-actions.ts
  src/state/app/app-dispatcher.ts
  src/state/app/app-reducer.ts
Due: none

PW-43: navigation styling
  src/layout/nav/NavItem.tsx
Due: none

PW-139: preserve expanded menu between pages
  src/layout/PageHeader.tsx
  src/layout/PageLayout.tsx
  src/layout/nav/HamburgerMenu.tsx
  src/layout/nav/NavItem.tsx
  src/pages/index.tsx
  src/pages/products.tsx
  src/search/form/SearchForm.tsx
  src/state/app/app-actions.ts
  src/state/app/app-dispatcher.ts
  src/state/app/app-reducer.ts
  src/styles/theme.tsx
  src/utils/browser/index.ts
  src/utils/browser/urls.ts
Due: none

PW-139: update packages
  package-lock.json
  package.json
  src/components/links/index.tsx
  src/layout/PageHeader.tsx
  src/layout/nav/NavItem.tsx
  src/pages/index.tsx
  src/pages/products.tsx
  src/search/form/SearchForm.tsx
  src/search/form/SearchInput.tsx
  src/search/results-list/SearchResultsHeader.tsx
  src/state/search/search-reducer.ts
  src/utils/browser/urls.ts
Due: none

PW-139: fixing layout for mobile
  package-lock.json
  package.json
  src/layout/PageHeader.tsx
  src/pages/index.tsx
  src/search/form/SearchForm.tsx
  src/search/form/SearchInput.tsx
  src/styles/GlobalStyle.css.tsx
  src/styles/theme.tsx
Due: none

PW=139: clean up package json
  package-lock.json
  package.json
  src/layout/Spinner.tsx
  src/layout/seo.tsx
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/faq.tsx
  src/pages/friends.tsx
  src/pages/index.tsx
  src/pages/join.tsx
  src/pages/news.tsx
  src/pages/products.tsx
  src/pages/support.tsx
  src/search/results-list/SearchResultsHeader.tsx
  src/utils/browser/index.ts
Due: none

PW-139: styling for search input
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/faq.tsx
  src/pages/friends.tsx
  src/pages/index.tsx
  src/pages/join.tsx
  src/pages/news.tsx
  src/pages/products.tsx
  src/pages/support.tsx
  src/search/form/SearchForm.tsx
  src/search/form/SearchInput.tsx
  src/utils/browser/index.ts
Due: none

PW-139: styling for search
  src/search/form/SearchForm.tsx
  src/search/form/SearchInput.tsx
Due: none
