Repository KlubJagiellonski/pola-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, isort

.pre-commit-config.yaml:

---
default_stages: [commit, push]
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
minimum_pre_commit_version: "1.20.0"
exclude: "^pola-web"
repos:
  #  - repo: https://github.com/Lucas-C/pre-commit-hooks
  #    rev: v1.1.7
  #    hooks:
  #      - id: forbid-tabs
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-xml
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args:
          - --remove
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.4.3
    hooks:
      - id: pyupgrade
        args: [--py3-plus]
        language_version: "python3.7"
  - repo: https://github.com/psf/black
    rev: '19.10b0'
    hooks:
      - id: black
        args: ["--line-length", "120", "--skip-string-normalization", "--target-version", "py35"]
        language_version: python3.7
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.5.1
    hooks:
      - id: rst-backticks
      - id: python-no-log-warn
  #  - repo: https://github.com/pre-commit/mirrors-pylint
  #    rev: 'v2.5.2'
  #    hooks:
  #      - id: pylint
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.0'
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: yamllint
        name: Check yaml files with yamllint
        entry: yamllint -c yamllint-config.yml
        language: python
        additional_dependencies: ['yamllint']
        types: [yaml]
      - id: shellcheck
        name: Check Shell scripts syntax correctness
        language: docker_image
        entry: koalaman/shellcheck:stable -x -a
        files: \.sh$
      - id: hadolint
        name: Hadolint
        description: Haskell-based Docker image linter
        language: docker_image
        types:
          - dockerfile
        entry: --entrypoint /bin/hadolint hadolint/hadolint:latest --ignore DL3013 --ignore DL3018 --ignore DL3008 -
      - id: isort
        name: Run isort to sort imports
        language: python
        entry: isort
        files: \.py$
        additional_dependencies: ['isort']

PW-27: replace users by fake products
  gatsby-config.js
  public/static/d/2706807168.json
  src/articles/components/ArticleBlock.css.tsx
  src/articles/components/ArticleBlock.tsx
  src/articles/components/ArticlesList.css.tsx
  src/articles/components/ArticlesList.tsx
  src/articles/index.ts
  src/assets/gatsby-astronaut.png
  src/assets/gatsby-icon.png
  src/assets/xmas.png
  src/components/Contents.tsx
  src/components/articles/Articles.tsx
  src/products/index.ts
  src/products/search-service.test.ts
  src/products/search-service.ts
  src/state/search/search-dispatcher.ts
Due: none

PW-27: articles service
  src/articles/components/ArticlesList.tsx
  src/articles/index.ts
  src/components/Contents.tsx
  src/components/articles/ArticleBlock.css.tsx
  src/components/articles/ArticleBlock.tsx
  src/components/articles/ArticlesList.css.tsx
  src/components/articles/ArticlesList.tsx
  src/domain/articles/article-service.test.ts
  src/domain/articles/article-service.ts
  src/domain/articles/index.ts
  src/domain/products/index.ts
  src/domain/products/search-service.test.ts
  src/domain/products/search-service.ts
  src/layout/PageLayout.tsx
  src/pages/index.tsx
  src/state/app/app-actions.ts
  src/state/articles/articles-actions.ts
  src/state/articles/articles-dispatcher.ts
  src/state/articles/articles-reducer.ts
  src/state/createStore.ts
  src/state/search/search-actions.ts
  src/state/search/search-dispatcher.ts
  src/state/types.ts
  src/utils/data/random-number.ts
Due: none

PW-27: navigation to about page
  public/page-data/dev-404-page/page-data.json
  src/layout/PageHeader.tsx
  src/layout/nav/NavbarMenu.tsx
  src/pages/index.tsx
  src/pages/news.tsx
  src/pages/page-2.tsx
Due: none

Fix continuous deployment (#57)
  .github/workflows/ci.yaml
Due: yamllint

Fix continuous deployment (#58)
  .github/workflows/ci.yaml
  gatsby-config.js
  public/icons/icon-144x144.png
  public/icons/icon-192x192.png
  public/icons/icon-256x256.png
  public/icons/icon-384x384.png
  public/icons/icon-48x48.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/index.html
  public/manifest.webmanifest
  public/page-data/404.html/page-data.json
  public/page-data/404/page-data.json
  public/page-data/dev-404-page/page-data.json
  public/page-data/index/page-data.json
  public/page-data/page-2/page-data.json
  public/static/4a9773549091c227cd2eb82ccd9c5e3a/19787/gatsby-icon.png
  public/static/4a9773549091c227cd2eb82ccd9c5e3a/59d48/gatsby-icon.png
  public/static/4a9773549091c227cd2eb82ccd9c5e3a/7e783/gatsby-icon.png
  public/static/4a9773549091c227cd2eb82ccd9c5e3a/c6a2b/gatsby-icon.png
  public/static/4a9773549091c227cd2eb82ccd9c5e3a/eea35/gatsby-icon.png
  public/static/6d91c86c0fde632ba4cd01062fd9ccfa/19787/gatsby-astronaut.png
  public/static/6d91c86c0fde632ba4cd01062fd9ccfa/59d48/gatsby-astronaut.png
  public/static/6d91c86c0fde632ba4cd01062fd9ccfa/78d2a/gatsby-astronaut.png
  public/static/6d91c86c0fde632ba4cd01062fd9ccfa/a54c6/gatsby-astronaut.png
  public/static/6d91c86c0fde632ba4cd01062fd9ccfa/c6a2b/gatsby-astronaut.png
  public/static/6d91c86c0fde632ba4cd01062fd9ccfa/eea35/gatsby-astronaut.png
  public/static/9b8c1d909a0ee08141f484c9e6603c3d/15f6e/xmas.png
  public/static/9b8c1d909a0ee08141f484c9e6603c3d/19787/xmas.png
  public/static/9b8c1d909a0ee08141f484c9e6603c3d/59d48/xmas.png
  public/static/9b8c1d909a0ee08141f484c9e6603c3d/c6a2b/xmas.png
  public/static/d/2417117884.json
  public/static/d/2706807168.json
  public/static/d/856328897.json
Due: yamllint

Separation of automated reports from those created by users (#509)
  pola/management/commands/populate_db.py
  product/templates/product/product_detail.html
  report/filters.py
  report/templates/report/report_filter.html
  report/templates/report/report_filter_adv.html
Due: isort

Fix hadolint errors and optimize image a bit more
  scripts/prod-docker-image/Dockerfile
Due: none

fixup! Fix hadolint errors and optimize image a bit more
  scripts/prod-docker-image/Dockerfile
Due: none

Fix hadolint errors and optimise image a bit more (#564)
  scripts/prod-docker-image/Dockerfile
Due: none

Add advnaced list for reportt to topbar
  pola/templates/base.html
Due: none

fix api v3 response
  pola/logic.py
  pola/tests/test_logic.py
Due: isort

Update team.html
  pola/webviews/templates/team.html
Due: none

Update index.html
  pola/templates/index.html
Due: none

fixup! Update index.html
  pola/templates/index.html
  pola/webviews/templates/team.html
Due: none

Add BI analytics
  .github/workflows/bi.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  pola-bi/dbt/pola-bi/.gitignore
  pola-bi/dbt/pola-bi/README.md
  pola-bi/dbt/pola-bi/analysis/.gitkeep
  pola-bi/dbt/pola-bi/data/.gitkeep
  pola-bi/dbt/pola-bi/dbt_project.yml
  pola-bi/dbt/pola-bi/dev.py
  pola-bi/dbt/pola-bi/macros/.gitkeep
  pola-bi/dbt/pola-bi/models/pola_app/companies_by_query_group.sql
  pola-bi/dbt/pola-bi/models/pola_app/companies_with_count_group.sql
  pola-bi/dbt/pola-bi/models/pola_app/exposures.yml
  pola-bi/dbt/pola-bi/models/pola_app/new_product_by_hour.sql
  pola-bi/dbt/pola-bi/models/pola_app/popular_not_verified_products.sql
  pola-bi/dbt/pola-bi/models/pola_app/product_by_time.sql
  pola-bi/dbt/pola-bi/models/pola_app/queries_by_time.sql
  pola-bi/dbt/pola-bi/models/pola_app/queries_stats_intervals.sql
  pola-bi/dbt/pola-bi/models/pola_app/source.yml
  pola-bi/dbt/pola-bi/models/pola_app/stats_queries_uq_users_by_week.sql
  pola-bi/dbt/pola-bi/packages.yml
  pola-bi/dbt/pola-bi/profile/profiles.yml
  pola-bi/dbt/pola-bi/snapshots/.gitkeep
  pola-bi/dbt/pola-bi/tests/.gitkeep
  pola-bi/docker-compose.yaml
  requirements/bi.txt
  scripts/_base_variables.sh
  scripts/bi-docker-image/Dockerfile
  scripts/bi-docker-image/_functions.sh
  scripts/bi-docker-image/build_image.sh
  scripts/bi-docker-image/entrypoint.sh
  scripts/bi-docker-image/push_image.sh
  scripts/bi-docker-image/verify_image.sh
Due: yamllint, shellcheck, isort

fixup! Add BI analytics
  .github/workflows/bi.yml
  .github/workflows/ci.yml
Due: yamllint

add brand import script
  pola/management/commands/import_brands.py
  pola/tests/commands/test_import_brands.py
Due: isort

correcting for pr comment
  .pre-commit-config.yaml
  pola/management/commands/import_brands.py
Due: yamllint, isort

pre-commit fix
  pola/tests/commands/test_import_brands.py
Due: isort

remove unnecessary changes
  .pre-commit-config.yaml
Due: yamllint

Correcting for PR comments
  pola/management/commands/import_brands.py
Due: isort

Add advnaced list for reportt to topbar (#563)
  pola/templates/base.html
Due: none

filled name field for api v4
  pola/logic.py
  pola/rpc_api/tests/test_views.py
Due: isort

fixup! filled name field for api v4
  pola/rpc_api/views.py
Due: isort

Dodanie osób z zespołu pola-baza (#517)
  pola/templates/index.html
  pola/webviews/templates/team.html
Due: none

Brands - compatibility API V3 with API V4 (#562)
  pola/logic.py
  pola/tests/test_logic.py
Due: isort

Simplify code + add tests
  pola/management/commands/import_brands.py
  pola/tests/commands/test_import_brands.py
  pola/tests/commands/test_import_brands_fixture.tsv
Due: isort

Fill name field for API v4 (#561)
  pola/logic.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/views.py
Due: isort

fixup! Simplify code + add tests
  .pre-commit-config.yaml
  pola/tests/commands/test_import_brands_fixture.tsv
Due: yamllint

fixup! fixup! Simplify code + add tests
  pola/management/commands/import_brands.py
  pola/tests/commands/test_import_brands.py
Due: isort

Updatte pre-commit checks
  .pre-commit-config.yaml
Due: yamllint

Add brand import script (#506)
  .pre-commit-config.yaml
  pola/management/commands/import_brands.py
  pola/tests/commands/test_import_brands.py
  pola/tests/commands/test_import_brands_fixture.tsv
Due: yamllint, isort

fixup! fixup! Add BI analytics
  .github/workflows/ci.yml
  docker-compose.dbt-local.yaml
  docker-compose.dbt.yaml
  pola-bi/dbt/.gitignore
  pola-bi/dbt/README.md
  pola-bi/dbt/analysis/.gitkeep
  pola-bi/dbt/data/.gitkeep
  pola-bi/dbt/dbt_project.yml
  pola-bi/dbt/dev.py
  pola-bi/dbt/macros/.gitkeep
  pola-bi/dbt/models/pola_app/companies_by_query_group.sql
  pola-bi/dbt/models/pola_app/companies_with_count_group.sql
  pola-bi/dbt/models/pola_app/exposures.yml
  pola-bi/dbt/models/pola_app/new_product_by_hour.sql
  pola-bi/dbt/models/pola_app/popular_not_verified_products.sql
  pola-bi/dbt/models/pola_app/product_by_time.sql
  pola-bi/dbt/models/pola_app/queries_by_time.sql
  pola-bi/dbt/models/pola_app/queries_stats_intervals.sql
  pola-bi/dbt/models/pola_app/source.yml
  pola-bi/dbt/models/pola_app/stats_queries_uq_users_by_week.sql
  pola-bi/dbt/packages.yml
  pola-bi/dbt/profile/profiles.yml
  pola-bi/dbt/snapshots/.gitkeep
  pola-bi/dbt/tests/.gitkeep
  requirements/bi.txt
  run_manage.sh
  run_test.sh
  scripts/pull_images.sh
Due: yamllint, shellcheck, isort

fixup! fixup! fixup! Add BI analytics
  .github/workflows/ci.yml
  run_dbt.sh
  scripts/pull_images.sh
Due: yamllint, shellcheck

fixup! fixup! fixup! fixup! Add BI analytics
  .github/workflows/ci.yml
Due: yamllint

fixup! fixup! fixup! fixup! fixup! Add BI analytics
  docker-compose.dbt-local.yaml
  pola-bi/dbt/models/pola_app/companies_by_query_group.sql
Due: yamllint

fixup! fixup! fixup! fixup! fixup! fixup! Add BI analytics
  .github/workflows/bi-refresh.yml
  .github/workflows/ci.yml
Due: yamllint

fixup! fixup! fixup! fixup! fixup! fixup! fixup! Add BI analytics
  .github/workflows/bi-refresh.yml
  .github/workflows/ci.yml
  scripts/pull_images.sh
Due: yamllint, shellcheck

Add BI analytics
  .github/workflows/bi-refresh.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  docker-compose.dbt-local.yaml
  docker-compose.dbt.yaml
  pola-bi/dbt/.gitignore
  pola-bi/dbt/README.md
  pola-bi/dbt/analysis/.gitkeep
  pola-bi/dbt/data/.gitkeep
  pola-bi/dbt/dbt_project.yml
  pola-bi/dbt/dev.py
  pola-bi/dbt/macros/.gitkeep
  pola-bi/dbt/models/pola_app/companies_by_query_group.sql
  pola-bi/dbt/models/pola_app/companies_with_count_group.sql
  pola-bi/dbt/models/pola_app/exposures.yml
  pola-bi/dbt/models/pola_app/new_product_by_hour.sql
  pola-bi/dbt/models/pola_app/popular_not_verified_products.sql
  pola-bi/dbt/models/pola_app/product_by_time.sql
  pola-bi/dbt/models/pola_app/queries_by_time.sql
  pola-bi/dbt/models/pola_app/queries_stats_intervals.sql
  pola-bi/dbt/models/pola_app/source.yml
  pola-bi/dbt/models/pola_app/stats_queries_uq_users_by_week.sql
  pola-bi/dbt/packages.yml
  pola-bi/dbt/profile/profiles.yml
  pola-bi/dbt/snapshots/.gitkeep
  pola-bi/dbt/tests/.gitkeep
  requirements/bi.txt
  run_dbt.sh
  run_manage.sh
  run_test.sh
  scripts/_base_variables.sh
  scripts/bi-docker-image/Dockerfile
  scripts/bi-docker-image/_functions.sh
  scripts/bi-docker-image/build_image.sh
  scripts/bi-docker-image/entrypoint.sh
  scripts/bi-docker-image/push_image.sh
  scripts/bi-docker-image/verify_image.sh
  scripts/pull_images.sh
Due: yamllint, shellcheck, isort

fixup! Add BI analytics
  .github/workflows/ci.yml
Due: yamllint
