Repository KlubJagiellonski/pola-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, yamllint, shellcheck, isort

.pre-commit-config.yaml:

---
default_stages: [commit, push]
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
minimum_pre_commit_version: "1.20.0"
exclude: '^pola/static|^db_kbpoz/'
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-tabs
        exclude: ^pola/tests/commands/test_import_brands_fixture\.tsv$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args:
          - --remove
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
      - id: pyupgrade
        args: ['--py38-plus']
  - repo: https://github.com/psf/black
    rev: '20.8b1'
    hooks:
      - id: black
        args: ["--line-length", "120", "--skip-string-normalization", "--target-version", "py38"]
        language_version: python
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.7.1
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  #  - repo: https://github.com/pre-commit/mirrors-pylint
  #    rev: 'v2.5.2'
  #    hooks:
  #      - id: pylint
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.4'
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: flynt
        name: Convert to f-strings with flynt
        entry: flynt
        language: python
        language_version: python3
        additional_dependencies: ['flynt']
        files: \.py$
      - id: yamllint
        name: Check yaml files with yamllint
        entry: yamllint -c yamllint-config.yml
        language: python
        additional_dependencies: ['yamllint']
        types: [yaml]
      - id: shellcheck
        name: Check Shell scripts syntax correctness
        language: docker_image
        entry: koalaman/shellcheck:stable -x -a
        files: \.sh$
      - id: hadolint
        name: Hadolint
        description: Haskell-based Docker image linter
        language: docker_image
        types:
          - dockerfile
        entry: --entrypoint /bin/hadolint hadolint/hadolint:latest --ignore DL3013 --ignore DL3018 --ignore DL3008 -
      - id: isort
        name: Run isort to sort imports
        language: python
        entry: isort
        files: \.py$
        additional_dependencies: ['isort']

Increase open pull-request limit for dependabot
  .github/dependabot.yml
Due: yamllint

Update gatsby-plugin-manifest, gatsby-plugin-sharp
  package-lock.json
  package.json
Due: none

Add files via upload
  pola/static/images/friends/logo_pluton_kawa.png
Due: none

Update friends.html
  pola/templates/partiales/friends.html
Due: none

Enable colour output on Github Action (#114)
  .github/workflows/ci.yaml
Due: yamllint

Enable updates for boto3 and botocore
  .github/dependabot.yml
Due: yamllint

Logo kolejnej firmy (#659)
  pola/static/images/friends/logo_pluton_kawa.png
  pola/templates/partiales/friends.html
Due: none

Delete logo_pluton_kawa.png
  pola/static/images/friends/logo_pluton_kawa.png
Due: none

Add files via upload
  pola/static/images/friends/logo_kawa_pluton.png
Due: none

Delete logo_pluton_kawa.png (#670)
  pola/static/images/friends/logo_kawa_pluton.png
  pola/static/images/friends/logo_pluton_kawa.png
  pola/templates/partiales/friends.html
Due: none

Apply suggestions from code review
  requirements/bi.txt
  requirements/ci.txt
  requirements/production.txt
Due: none

Update bi.txt
  requirements/bi.txt
Due: none

Apply suggestions from code review
  requirements/bi.txt
Due: none

add capitalgroup
  company/factories.py
  company/filters.py
  company/forms.py
  company/migrations/0024_auto_20210519_1507.py
  company/models.py
  company/templates/company/capitalgroup_confirm_delete.html
  company/templates/company/capitalgroup_detail.html
  company/templates/company/capitalgroup_filter.html
  company/templates/company/capitalgroup_form.html
  company/templates/company/company_detail.html
  company/urls.py
  company/views.py
  pola/logic.py
  pola/management/commands/populate_db.py
  pola/rpc_api/tests/test_views.py
  pola/templates/base.html
Due: flynt, isort

formatting fixup
  company/migrations/0024_auto_20210519_1507.py
Due: flynt, isort

Zmiana napisu produktu nie ma w bazie
  pola/logic.py
Due: flynt, isort

Add pull-request preview on S3 (#116)
  .github/workflows/ci.yaml
  gatsby-config.js
Due: yamllint

fixup! Zmiana napisu produktu nie ma w bazie
  pola/tests/test_logic.py
Due: flynt, isort

Create .bulldozer.yml
  .bulldozer.yml
Due: yamllint

Revert "Bump typing-extensions from 3.7.4.3 to 3.10.0.0 (#599)"
  requirements/bi.txt
  requirements/production.txt
Due: none

Revert "Bump werkzeug from 1.0.1 to 2.0.1 (#641)"
  requirements/bi.txt
  requirements/ci.txt
Due: none

Revert "Bump decorator from 4.4.2 to 5.0.9 (#637)"
  requirements/bi.txt
  requirements/ci.txt
Due: none

Revert "Bump mashumaro from 2.0 to 2.5 (#601)"
  requirements/bi.txt
Due: none

Revert "Bump jinja2 from 2.11.2 to 3.0.1 (#645)"
  requirements/bi.txt
Due: none

Revert "Bump django-redis from 4.12.1 to 5.0.0 (#676)"
  requirements/ci.txt
  requirements/production.txt
Due: none

Revert "Bump oauthlib from 3.1.0 to 3.1.1 (#685)"
  requirements/bi.txt
  requirements/ci.txt
  requirements/production.txt
Due: none

Revert "Create .bulldozer.yml"
  .bulldozer.yml
Due: yamllint

Mergify: configuration update
  .mergify.yml
Due: yamllint

Update .mergify.yml
  .mergify.yml
Due: yamllint

Add .mergify.yml (#701)
  .mergify.yml
Due: yamllint

Update ci.yaml
  .github/workflows/ci.yaml
Due: yamllint

Zmniejszony logotyp
  pola/static/images/friends/logo_kawa_pluton.png
Due: none

Załadowane zmniejszone logo
  pola/static/images/friends/logo_kawa_pluton.png
Due: none

Zmniejszony logotyp (#681)
  pola/static/images/friends/logo_kawa_pluton.png
Due: none
