Repository KlubJagiellonski/pola-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, isort

.pre-commit-config.yaml:

---
default_stages: [commit, push]
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
minimum_pre_commit_version: "1.20.0"
exclude: "^pola-web"
repos:
  #  - repo: https://github.com/Lucas-C/pre-commit-hooks
  #    rev: v1.1.7
  #    hooks:
  #      - id: forbid-tabs
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-xml
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args:
          - --remove
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.4.3
    hooks:
      - id: pyupgrade
        args: [--py3-plus]
        language_version: "python3.7"
  - repo: https://github.com/psf/black
    rev: '19.10b0'
    hooks:
      - id: black
        args: ["--line-length", "120", "--skip-string-normalization", "--target-version", "py35"]
        language_version: python3.7
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.5.1
    hooks:
      - id: rst-backticks
      - id: python-no-log-warn
  #  - repo: https://github.com/pre-commit/mirrors-pylint
  #    rev: 'v2.5.2'
  #    hooks:
  #      - id: pylint
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.0'
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: yamllint
        name: Check yaml files with yamllint
        entry: yamllint -c yamllint-config.yml
        language: python
        additional_dependencies: ['yamllint']
        types: [yaml]
      - id: shellcheck
        name: Check Shell scripts syntax correctness
        language: docker_image
        entry: koalaman/shellcheck:stable -x -a
        files: \.sh$
      - id: hadolint
        name: Hadolint
        description: Haskell-based Docker image linter
        language: docker_image
        types:
          - dockerfile
        entry: --entrypoint /bin/hadolint hadolint/hadolint:latest --ignore DL3013 --ignore DL3018 --ignore DL3008 -
      - id: isort
        name: Run isort to sort imports
        language: python
        entry: isort
        files: \.py$
        additional_dependencies: ['isort']

fixup! fixup! Add basic tests for CLI commands
  .github/workflows/ci.yml
Due: yamllint

fixup! fixup! fixup! Add basic tests for CLI commands
  pola/logic_workers.py
Due: isort

fixup! fixup! fixup! fixup! Add basic tests for CLI commands
  pola/logic_workers.py
Due: isort

Add basic tests for CLI commands (#384)
  .github/workflows/ci.yml
  ai_pics/views.py
  pola/logic_workers.py
  pola/management/commands/delete_empty_ai_pics.py
  pola/management/commands/delete_empty_reports.py
  pola/management/commands/delete_reduntant_reports.py
  pola/management/commands/send_ai_pics_stats.py
  pola/s3.py
  pola/slack.py
  pola/tests/commands/__init__.py
  pola/tests/commands/test_delete_empty_ai_pics.py
  pola/tests/commands/test_delete_empty_reports.py
  pola/tests/commands/test_delete_empty_revisions.py
  pola/tests/commands/test_delete_rare_products.py
  pola/tests/commands/test_delete_reduntant_reports.py
  pola/tests/commands/test_recalculate_query_count.py
  pola/tests/commands/test_requery_590_codes.py
  pola/tests/commands/test_requery_all_codes.py
  pola/tests/commands/test_send_ai_pics_stats.py
  pola/tests/commands/test_update_from_kbpoz.py
  pola/tests/test_command_delete_empty_reports.py
  pola/tests/test_command_delete_empty_reportts.py
  pola/tests/test_command_delete_empty_revisions.py
  pola/tests/test_command_delete_rare_products.py
  pola/tests/test_command_delete_reduntant_reports.py
  pola/tests/test_command_recalculate_query_count.py
  pola/tests/test_command_requery_590_codes.py
  pola/tests/test_command_requery_all_codes.py
  pola/tests/test_command_send_ai_pics_stats.py
  pola/tests/test_command_update_from_kbpoz.py
  report/factories.py
Due: yamllint, isort

Disable AI requests and remove read AI pics endpoint (#377)
  pola/logic_ai.py
  pola/rpc_api/tests/test_urls.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/urls.py
  pola/rpc_api/views.py
Due: isort

Remove utiils/mixins.py
  utils/mixins.py
Due: isort

Remove utiils/mixins.py (#386)
  utils/mixins.py
Due: isort

Add Python 3.9 to CI
  .github/workflows/ci.yml
Due: yamllint

Add Python 3.9 to CI (#387)
  .github/workflows/ci.yml
Due: yamllint

More ecosystem for dependabot.yml
  .github/dependabot.yml
Due: yamllint

fixup! More ecosystem for dependabot.yml
  .github/dependabot.yml
Due: yamllint

fixup! Bump parso from 0.7.1 to 0.8.1
  requirements/ci.txt
Due: none

Update README.rst
  README.rst
Due: none

Update badges in README.rst (#398)
  README.rst
Due: none

Zmiany w opisie firmy AmeriPol
  pola/templates/partiales/friends.html
Due: none

Add files via upload
  pola/static/images/friends/Logo_AmeriPol.PNG
Due: none

Nowe logo firmy Ameri-Pol
  pola/templates/partiales/friends.html
Due: none

fixup! Bump django from 3.1.5 to 3.1.6 (#415)
  docker-compose.yaml
Due: yamllint

fixup! fixup! Bump django from 3.1.5 to 3.1.6 (#415)
  requirements/ci.txt
Due: none

fixup! fixup! fixup! Bump django from 3.1.5 to 3.1.6 (#415)
  requirements/production.txt
Due: none

Bump postgres from 9.5 to 13.1
  docker-compose.yaml
Due: yamllint

Update information about AmeriPol Trading
  pola/static/images/friends/AmeriPol.PNG
  pola/templates/partiales/friends.html
Due: none

Update information about AmeriPol Trading (#437)
  pola/static/images/friends/AmeriPol.PNG
  pola/static/images/friends/Logo_AmeriPol.PNG
  pola/templates/partiales/friends.html
Due: none

Bump postgres from 9.5 to 13.1 (#436)
  docker-compose.yaml
Due: yamllint

Support mutliple companies per product
  README.rst
  ai_pics/migrations/0008_auto_20210117_0109.py
  ai_pics/migrations/0009_auto_20210117_0154.py
  company/migrations/0020_auto_20210113_1800.py
  company/migrations/0021_auto_20210116_1847.py
  company/migrations/0022_auto_20210117_0109.py
  company/migrations/0023_auto_20210215_0756.py
  company/models.py
  company/templates/company/company_detail.html
  company/views.py
  docker-compose.yaml
  pola/config/settings/local.py
  pola/logic.py
  pola/logic_workers.py
  pola/management/commands/delete_rare_products.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/views.py
  pola/tests/test_logic.py
  pola/views.py
  product/admin.py
  product/factories.py
  product/filters.py
  product/forms.py
  product/migrations/0012_auto_20210113_1800.py
  product/migrations/0013_auto_20210117_0109.py
  product/migrations/0014_auto_20210113_1803.py
  product/migrations/0015_remove_product_company.py
  product/models.py
  product/templates/product/product_detail.html
  product/tests.py
  product/views.py
Due: yamllint, isort

fixup! Support mutliple companies per product
  README.rst
Due: none

fixup! fixup! Support mutliple companies per product
  company/migrations/0020_auto_20210113_1800.py
  company/migrations/0021_auto_20210116_1847.py
  company/migrations/0022_auto_20210117_0109.py
  company/migrations/0023_auto_20210215_0756.py
  pola/logic.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/urls.py
  pola/rpc_api/views.py
  pola/tests/test_logic.py
Due: isort

fixup! fixup! fixup! Support mutliple companies per product
  pola/logic.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/urls.py
  pola/tests/test_logic.py
Due: isort

fixup! fixup! fixup! fixup! Support mutliple companies per product
  pola/tests/test_logic.py
Due: isort

Support multiple companies per product (#376)
  README.rst
  ai_pics/migrations/0008_auto_20210117_0109.py
  ai_pics/migrations/0009_auto_20210117_0154.py
  company/migrations/0020_auto_20210113_1800.py
  company/migrations/0021_auto_20210116_1847.py
  company/migrations/0022_auto_20210117_0109.py
  company/migrations/0023_auto_20210215_0756.py
  company/models.py
  company/templates/company/company_detail.html
  company/views.py
  docker-compose.yaml
  pola/config/settings/local.py
  pola/logic.py
  pola/logic_workers.py
  pola/management/commands/delete_rare_products.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/urls.py
  pola/rpc_api/views.py
  pola/tests/test_logic.py
  pola/views.py
  product/admin.py
  product/factories.py
  product/filters.py
  product/forms.py
  product/migrations/0012_auto_20210113_1800.py
  product/migrations/0013_auto_20210117_0109.py
  product/migrations/0014_auto_20210113_1803.py
  product/migrations/0015_remove_product_company.py
  product/models.py
  product/templates/product/product_detail.html
  product/tests.py
  product/views.py
Due: yamllint, isort

fixup! Update pre-commit hooks (#438)
  .pre-commit-config.yaml
Due: yamllint

Add production migration validation on CI
  .github/workflows/migration_check.yml
Due: yamllint

Trigger CI
  .github/workflows/migration_check.yml
Due: yamllint
