Repository KlubJagiellonski/pola-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, yamllint, shellcheck, isort

.pre-commit-config.yaml:

---
default_stages: [commit, push]
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
minimum_pre_commit_version: "1.20.0"
exclude: '^pola/static|^db_kbpoz/'
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-tabs
        exclude: ^pola/tests/commands/test_import_brands_fixture\.tsv$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args:
          - --remove
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
      - id: pyupgrade
        args: ['--py38-plus']
  - repo: https://github.com/psf/black
    rev: '20.8b1'
    hooks:
      - id: black
        args: ["--line-length", "120", "--skip-string-normalization", "--target-version", "py38"]
        language_version: python
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.7.1
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  #  - repo: https://github.com/pre-commit/mirrors-pylint
  #    rev: 'v2.5.2'
  #    hooks:
  #      - id: pylint
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.4'
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: flynt
        name: Convert to f-strings with flynt
        entry: flynt
        language: python
        language_version: python3
        additional_dependencies: ['flynt']
        files: \.py$
      - id: yamllint
        name: Check yaml files with yamllint
        entry: yamllint -c yamllint-config.yml
        language: python
        additional_dependencies: ['yamllint']
        types: [yaml]
      - id: shellcheck
        name: Check Shell scripts syntax correctness
        language: docker_image
        entry: koalaman/shellcheck:stable -x -a
        files: \.sh$
      - id: hadolint
        name: Hadolint
        description: Haskell-based Docker image linter
        language: docker_image
        types:
          - dockerfile
        entry: --entrypoint /bin/hadolint hadolint/hadolint:latest --ignore DL3013 --ignore DL3018 --ignore DL3008 -
      - id: isort
        name: Run isort to sort imports
        language: python
        entry: isort
        files: \.py$
        additional_dependencies: ['isort']

Add Bi database views (#449)
  .github/workflows/bi-refresh.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  docker-compose.dbt-local.yaml
  docker-compose.dbt.yaml
  pola-bi/dbt/.gitignore
  pola-bi/dbt/README.md
  pola-bi/dbt/analysis/.gitkeep
  pola-bi/dbt/data/.gitkeep
  pola-bi/dbt/dbt_project.yml
  pola-bi/dbt/dev.py
  pola-bi/dbt/macros/.gitkeep
  pola-bi/dbt/models/pola_app/companies_by_query_group.sql
  pola-bi/dbt/models/pola_app/companies_with_count_group.sql
  pola-bi/dbt/models/pola_app/exposures.yml
  pola-bi/dbt/models/pola_app/new_product_by_hour.sql
  pola-bi/dbt/models/pola_app/popular_not_verified_products.sql
  pola-bi/dbt/models/pola_app/product_by_time.sql
  pola-bi/dbt/models/pola_app/queries_by_time.sql
  pola-bi/dbt/models/pola_app/queries_stats_intervals.sql
  pola-bi/dbt/models/pola_app/source.yml
  pola-bi/dbt/models/pola_app/stats_queries_uq_users_by_week.sql
  pola-bi/dbt/packages.yml
  pola-bi/dbt/profile/profiles.yml
  pola-bi/dbt/snapshots/.gitkeep
  pola-bi/dbt/tests/.gitkeep
  requirements/bi.txt
  run_dbt.sh
  run_manage.sh
  run_test.sh
  scripts/_base_variables.sh
  scripts/bi-docker-image/Dockerfile
  scripts/bi-docker-image/_functions.sh
  scripts/bi-docker-image/build_image.sh
  scripts/bi-docker-image/entrypoint.sh
  scripts/bi-docker-image/push_image.sh
  scripts/bi-docker-image/verify_image.sh
  scripts/pull_images.sh
Due: flynt, yamllint, shellcheck, isort

fixup! Add Bi database views (#449)
  .github/workflows/ci.yml
Due: yamllint

fixup! fixup! Add Bi database views (#449)
  .github/workflows/ci.yml
Due: yamllint

Add Datastudio utilities
  scripts/datastudio/heroku_postgres_get_server_cert.sh
  scripts/datastudio/postgres_client_cert.sh
  scripts/datastudio/postgres_get_server_cert.py
  scripts/datastudio/psql.sh
Due: flynt, shellcheck, isort

Add BI prefix to BI tables
  pola-bi/dbt/models/pola_app/bi_companies_by_query_group.sql
  pola-bi/dbt/models/pola_app/bi_companies_with_count_group.sql
  pola-bi/dbt/models/pola_app/bi_new_product_by_hour.sql
  pola-bi/dbt/models/pola_app/bi_popular_not_verified_products.sql
  pola-bi/dbt/models/pola_app/bi_product_by_time.sql
  pola-bi/dbt/models/pola_app/bi_queries_by_time.sql
  pola-bi/dbt/models/pola_app/bi_queries_stats_intervals.sql
  pola-bi/dbt/models/pola_app/bi_stats_queries_uq_users_by_week.sql
Due: none

fixup! Add BI prefix to BI tables
  pola-bi/dbt/models/pola_app/exposures.yml
Due: yamllint

Update dependencies for Pola-BI
  requirements/bi.txt
Due: none

Update requirements/bi.txt
  requirements/bi.txt
Due: none

Apply suggestions from code review
  requirements/bi.txt
Due: none

Update bi.txt
  requirements/bi.txt
Due: none

Update dependencies for Pola-BI (#598)
  requirements/bi.txt
Due: none

Add Datastudio utilities (#600)
  scripts/datastudio/heroku_postgres_get_server_cert.sh
  scripts/datastudio/postgres_client_cert.sh
  scripts/datastudio/postgres_get_server_cert.py
  scripts/datastudio/psql.sh
Due: flynt, shellcheck, isort

Update ci.yml
  .github/workflows/ci.yml
Due: yamllint

Update views.py
  pola/rpc_api/views.py
Due: flynt, isort

Update test_views.py
  pola/rpc_api/tests/test_views.py
Due: flynt, isort

Update logic.py
  pola/logic.py
Due: flynt, isort

Update test_logic.py
  pola/tests/test_logic.py
Due: flynt, isort

Update index.html
  pola/templates/index.html
Due: none

After gastby (#59)
  package-lock.json
  package.json
  prototype/src/pages/serach/Search.css.js
  prototype/src/pages/serach/Search.js
  prototype/src/pages/serach/SearchModal.test.js
  src/components/About.css.tsx
  src/components/About.tsx
  src/components/Contents.css.tsx
  src/components/Contents.tsx
  src/components/DevelopmnetSection.css.tsx
  src/components/Download.css.tsx
  src/components/Friends.css.tsx
  src/components/SocialMedia.css.tsx
  src/components/Teams.css.tsx
  src/components/Teams.tsx
  src/components/TeamsFriend.tsx
  src/components/articles/ArticleBlock.css.tsx
  src/components/articles/ArticleBlock.tsx
  src/components/articles/ArticlesList.css.tsx
  src/components/articles/ArticlesList.tsx
  src/components/search/Search.css.tsx
  src/layout/PageFooter.tsx
  src/layout/PageSection.tsx
  src/styles/GlobalStyle.css.tsx
  src/styles/theme.tsx
Due: none

Remove Trivy scanner
  .github/workflows/ci.yml
Due: yamllint
