Repository KlubJagiellonski/pola-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, isort

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml
  language: python
  additional_dependencies:
  - yamllint

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

isort:
  name: Run isort to sort imports
  language: python
  entry: isort
  additional_dependencies:
  - isort

fix template_name_suffix
  report/views.py
Due: isort

add test for ReportResolveAllView
  report/tests.py
Due: isort

move populate_db script to django-admin commands
  pola/management/commands/populate_db.py
  pola/tests/commands/test_populate_db.py
  populate.py
Due: isort

Add "resolve all reports with the same product" button (#468)
  report/templates/report/report_detail.html
  report/templates/report/report_resolve_all.html
  report/tests.py
  report/urls.py
  report/views.py
Due: isort

Refactor multiple companies API logic
  pola/logic.py
Due: isort

Refactor multiple companies API logic (#476)
  pola/logic.py
Due: isort

Enforce Python3.8+ syntax
  .pre-commit-config.yaml
  ai_pics/factories.py
  ai_pics/models.py
  ai_pics/views.py
  company/models.py
  company/views.py
  pola/config/settings/common.py
  pola/config/settings/production.py
  pola/logic.py
  pola/logic_ai.py
  pola/management/commands/delete_empty_reports.py
  pola/management/commands/delete_empty_revisions.py
  pola/management/commands/delete_reduntant_reports.py
  pola/modules.py
  pola/produkty_w_sieci_api/MainClass.py
  pola/rpc_api/views.py
  pola/slack.py
  pola/tests/test_logic.py
  pola/users/factories.py
  product/factories.py
  product/tests.py
  product/views.py
  report/factories.py
  report/models.py
Due: yamllint, isort

Enforce Python3.8+ syntax (#477)
  .pre-commit-config.yaml
  ai_pics/factories.py
  ai_pics/models.py
  ai_pics/views.py
  company/models.py
  company/views.py
  pola/config/settings/common.py
  pola/config/settings/production.py
  pola/logic.py
  pola/logic_ai.py
  pola/management/commands/delete_empty_reports.py
  pola/management/commands/delete_empty_revisions.py
  pola/management/commands/delete_reduntant_reports.py
  pola/modules.py
  pola/produkty_w_sieci_api/MainClass.py
  pola/rpc_api/views.py
  pola/slack.py
  pola/tests/test_logic.py
  pola/users/factories.py
  product/factories.py
  product/tests.py
  product/views.py
  report/factories.py
  report/models.py
Due: yamllint, isort

Fix CMS home page - Bring back company limit
  docker-compose.yaml
  pola/views.py
Due: yamllint, isort

Fix CMS home page - Bring back company limit (#478)
  docker-compose.yaml
  pola/views.py
Due: yamllint, isort

Remove manual instruciton for migration validation
  README.rst
Due: none

Remove manual instruciton for migration validation (#479)
  README.rst
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: yamllint

Update README.rst
  README.rst
Due: none

Add DB populate script (#467)
  README.rst
  pola/management/commands/populate_db.py
  pola/tests/commands/test_populate_db.py
Due: isort

Use brand.company to store brand companies
  README.rst
  company/factories.py
  company/models.py
  company/templates/company/brand_detail.html
  company/templates/company/company_detail.html
  company/views.py
  pola/logic.py
  pola/logic_workers.py
  pola/management/commands/delete_rare_products.py
  pola/rpc_api/tests/test_views.py
  pola/tests/test_logic.py
  pola/views.py
  product/admin.py
  product/factories.py
  product/filters.py
  product/forms.py
  product/migrations/0016_product_company.py
  product/models.py
  product/templates/product/product_detail.html
  product/tests.py
  product/views.py
Due: isort

Use brand.company to store brand companies (#480)
  README.rst
  company/factories.py
  company/models.py
  company/templates/company/brand_detail.html
  company/templates/company/company_detail.html
  company/views.py
  pola/logic.py
  pola/logic_workers.py
  pola/management/commands/delete_rare_products.py
  pola/rpc_api/tests/test_views.py
  pola/tests/test_logic.py
  pola/views.py
  product/admin.py
  product/factories.py
  product/filters.py
  product/forms.py
  product/migrations/0016_product_company.py
  product/models.py
  product/templates/product/product_detail.html
  product/tests.py
  product/views.py
Due: isort

Handle one company in company and product
  pola/logic.py
  pola/rpc_api/tests/test_views.py
  pola/tests/test_logic.py
Due: isort

Handle one company in company and product (#503)
  pola/logic.py
  pola/rpc_api/tests/test_views.py
  pola/tests/test_logic.py
Due: isort

Remove unused tests
  pola/rpc_api/tests/test_views.py
Due: isort

Remove unused tests (#505)
  pola/rpc_api/tests/test_views.py
Due: isort

add is_bot_client filter, make bot reports yellow in templates, update populate_db.py
  pola/management/commands/populate_db.py
  product/templates/product/product_detail.html
  report/filters.py
  report/templates/report/report_filter.html
  report/templates/report/report_filter_adv.html
Due: isort

Aktualizacja zespołu
  pola/webviews/templates/team.html
Due: none

Aktualizacja zespołu
  pola/templates/index.html
Due: none

Update ci.txt
  requirements/ci.txt
Due: none

Aktualizacja zespołu (#515)
  pola/templates/index.html
  pola/webviews/templates/team.html
Due: none

Update index.html
  pola/templates/index.html
Due: none

Fix typo in README.md (#24)
  README.md
Due: none

updated layout
  framework/src/layout/Navigationbar.tsx
  framework/src/layout/PageFooter.tsx
  framework/src/layout/PageHeader.tsx
  framework/src/layout/PageLayout.tsx
  framework/src/layout/Pola-Logo.tsx
  framework/src/styles/theme.tsx
Due: none

#27 responvice mobile header
  framework/package-lock.json
  framework/package.json
  framework/src/layout/HamburgerMenu.tsx
  framework/src/layout/NavbarMenu.tsx
  framework/src/layout/Navigationbar.tsx
  framework/src/layout/PageFooter.tsx
  framework/src/layout/PageHeader.tsx
  framework/src/layout/PageLayout.css
  framework/src/layout/PageLayout.tsx
  framework/src/layout/PageSection.tsx
  framework/src/styles/theme.tsx
  framework/src/utils/class-names/index.ts
Due: none

#27 equal width for content and header
  framework/src/components/Search.css.tsx
  framework/src/layout/NavbarMenu.tsx
  framework/src/layout/PageHeader.tsx
  framework/src/layout/PageLayout.tsx
  framework/src/layout/PageSection.tsx
  framework/src/pages/index.tsx
  framework/src/styles/theme.tsx
Due: none

PW-27: introduce state
  .gitignore
  gatsby-config.js
  package-lock.json
  package.json
  public/static/d/2417117884.json
  public/static/d/856328897.json
  src/components/Contents.tsx
  src/components/Search.tsx
  src/components/articles/Articles.tsx
  src/components/search/index.tsx
  src/pages/index.tsx
  src/services/search-service.ts
  src/state/app/app-actions.ts
  src/state/app/app-dispatcher.ts
  src/state/app/app-reducer.ts
  src/state/createStore.ts
  src/state/search/search-actions.ts
  src/state/search/search-dispatcher.ts
  src/state/search/search-reducer.ts
  src/state/types.ts
Due: none

PW-27: loading browser location to app state
  src/components/search/Search.css.tsx
  src/components/search/index.tsx
  src/layout/PageLayout.tsx
  src/pages/index.tsx
  src/state/app/app-actions.ts
  src/state/app/app-dispatcher.ts
  src/state/app/app-reducer.ts
  src/state/search/search-actions.ts
  src/state/search/search-dispatcher.ts
  src/state/search/search-reducer.ts
  src/utils/routing/browser-history.ts
Due: none

PW-27: introduce fake products
  src/components/About.tsx
  src/components/Contents.tsx
  src/components/DevelopmentSection.tsx
  src/components/Friends.tsx
  src/components/SocialMedia.tsx
  src/components/Teams.tsx
  src/components/articles/Article.tsx
  src/components/login/login-btn.test.tsx
  src/components/login/login-btn.tsx
  src/components/login/login-section.test.tsx
  src/components/login/login-section.tsx
  src/components/search/Search.css.tsx
  src/components/search/SearchResultElement.tsx
  src/components/search/SearchResultsList.tsx
  src/components/search/index.tsx
  src/components/todos/todo.test.tsx
  src/components/todos/todo.tsx
  src/components/todos/todos.test.tsx
  src/components/todos/todos.tsx
  src/layout/PageFooter.tsx
  src/layout/PageHeader.tsx
  src/layout/PageSection.tsx
  src/layout/Pola-Logo.tsx
  src/layout/nav/HamburgerMenu.tsx
  src/layout/nav/NavbarMenu.tsx
  src/models/product.tsx
  src/models/todo.ts
  src/pages/index.tsx
  src/products/index.ts
  src/services/search-service.ts
  src/state/app/app-dispatcher.ts
  src/state/search/search-actions.ts
  src/state/search/search-dispatcher.ts
  src/state/search/search-reducer.ts
  src/styles/GlobalStyle.css.tsx
  src/styles/theme.tsx
  src/utils/routing/browser-history.ts
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^pola-web
  shellcheck: any of: \.sh$, but not: ^pola-web
  isort: any of: \.py$, but not: ^pola-web
