Repository KlubJagiellonski/pola-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, yamllint, shellcheck, isort

flynt:
  name: Convert to f-strings with flynt
  entry: flynt
  language: python
  language_version: python3
  additional_dependencies:
  - flynt

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml
  language: python
  additional_dependencies:
  - yamllint

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

isort:
  name: Run isort to sort imports
  language: python
  entry: isort
  additional_dependencies:
  - isort

Remove Trivy scanner (#635)
  .github/workflows/ci.yml
Due: yamllint

Update requirements/bi.txt
  requirements/bi.txt
Due: none

Update common.py
  pola/config/settings/common.py
Due: flynt, isort

Fix brand import script
  pola/management/commands/import_brands.py
Due: flynt, isort

Update test_views.py
  pola/rpc_api/tests/test_views.py
Due: flynt, isort

fixup! Update test_views.py
  pola/rpc_api/tests/test_views.py
Due: flynt, isort

Zmiana napisu - przycisk zbiórki (#625)
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/views.py
Due: flynt, isort

Update test_logic.py
  pola/tests/test_logic.py
Due: flynt, isort

fixup! Update test_logic.py
  pola/logic.py
  pola/tests/test_logic.py
Due: flynt, isort

Fix brand import script (#636)
  pola/management/commands/import_brands.py
Due: flynt, isort

zmiana tekstu - ekran zgłoszenia (#627)
  pola/logic.py
  pola/tests/test_logic.py
Due: flynt, isort

Nowe osoby i kontakt (#634)
  pola/templates/index.html
Due: none

fixup! Nowe osoby i kontakt (#634)
  pola/templates/index.html
Due: none

fixup! Dodanie osób z zespołu pola-baza (#517)
  pola/templates/index.html
Due: none

remove framework folder
  .gitignore
  package-lock.json
  src/components/icons/pola-icon.svg
  src/components/icons/pola-logo.tsx
Due: none

PW-32: use axios for invoking api
  package-lock.json
  package.json
  src/domain/products/search-service.ts
  src/services/api-connector.ts
  src/services/article-service.test.ts
  src/services/article-service.ts
  src/services/search.test.ts
  src/services/search.ts
  src/state/articles/articles-dispatcher.ts
  src/state/search/search-dispatcher.ts
Due: none

fixup! fixup! Dodanie osób z zespołu pola-baza (#517)
  pola/templates/index.html
Due: none

PW-32: load products progresively
  src/components/search/SearchResultElement.tsx
  src/components/search/SearchResultsList.tsx
  src/components/search/index.tsx
  src/domain/products/index.ts
  src/domain/products/product-service.test.ts
  src/domain/products/product-service.ts
  src/layout/PageLayout.tsx
  src/layout/PageSection.tsx
  src/pages/index.tsx
  src/pages/news.tsx
  src/services/api-service.ts
  src/services/search.ts
  src/state/search/search-actions.ts
  src/state/search/search-dispatcher.ts
  src/state/search/search-reducer.ts
  src/styles/theme.tsx
Due: none

PW-32: Product EAN service
  src/domain/products/ean-service.test.ts
  src/domain/products/ean-service.ts
  src/domain/products/index.ts
  src/domain/products/search-product-response.json
  src/domain/products/search-service.test.ts
  src/domain/products/search-service.ts
  src/state/search/search-dispatcher.ts
Due: none

PW-32: show product modal
  src/components/search/ProductModal.tsx
  src/components/search/SearchResultElement.tsx
  src/components/search/SearchResultsList.tsx
  src/components/search/index.tsx
  src/domain/articles/article-service.test.ts
  src/domain/articles/article-service.ts
  src/domain/products/ean-service.ts
  src/domain/products/index.ts
  src/layout/PageLayout.tsx
  src/layout/modal/Modal.tsx
  src/layout/modal/ModalHeader.tsx
  src/pages/index.tsx
  src/state/articles/articles-dispatcher.ts
  src/state/search/search-actions.ts
  src/state/search/search-dispatcher.ts
  src/state/search/search-reducer.ts
  src/styles/theme.tsx
Due: none

PW-32: loading search results
  package-lock.json
  package.json
  src/components/ClickOutside.tsx
  src/components/buttons/IconButton.tsx
  src/components/buttons/PrimaryButton.tsx
  src/components/icons/throbber.tsx
  src/components/search/ProductModal.tsx
  src/components/search/ProductModalAction.tsx
  src/components/search/SearchResultsList.tsx
  src/components/search/index.tsx
  src/layout/modal/Modal.tsx
  src/layout/modal/ModalHeader.tsx
  src/pages/index.tsx
  src/styles/theme.tsx
Due: none

PW-32: loading spinner
  src/components/icons/spinner.tsx
  src/components/icons/throbber.tsx
  src/components/search/SearchResultsList.tsx
Due: none

PW-32: change spinner file name
  src/components/search/SearchResultsList.tsx
Due: none

Change color (#60)
  package-lock.json
  src/components/Contents.tsx
  src/components/Download.css.tsx
  src/components/Teams.css.tsx
  src/components/Teams.tsx
  src/components/TeamsFriend.tsx
  src/components/articles/ArticleBlock.css.tsx
  src/components/articles/ArticleBlock.tsx
  src/components/articles/ArticlesList.css.tsx
  src/components/articles/ArticlesList.tsx
  src/components/buttons/Button.tsx
  src/components/buttons/SecondaryButton.tsx
  src/components/search/ProductModalAction.tsx
  src/components/search/Search.css.tsx
  src/components/search/SearchResultsList.tsx
  src/components/search/index.tsx
  src/layout/PageHeader.tsx
  src/layout/nav/NavbarMenu.tsx
  src/styles/GlobalStyle.css.tsx
  src/styles/theme.tsx
Due: none

Change font (#61)
  src/components/Contents.css.tsx
  src/components/DevelopmentSection.tsx
  src/components/DevelopmnetSection.css.tsx
  src/components/Download.css.tsx
  src/components/Download.tsx
  src/components/Friends.css.tsx
  src/components/SocialMedia.css.tsx
  src/components/articles/ArticleBlock.css.tsx
  src/components/articles/ArticleBlock.tsx
  src/components/search/Search.css.tsx
  src/layout/PageSection.tsx
  src/pages/index.tsx
  src/styles/GlobalStyle.css.tsx
  src/styles/theme.tsx
Due: none

Create dependabot.yml (#63)
  .github/dependabot.yml
Due: yamllint

Change icons (#62)
  src/assets/background.png
  src/assets/ikona-przyjaciele.png
  src/assets/ikona-zespół.png
  src/assets/kod.svg
  src/assets/microphone.svg
  src/assets/pexels-nadi-lindsay-3768323-1.png
  src/assets/pexels-pixabay-33239-2.png
  src/assets/pexels-polina-tankilevitch-3735657-1.png
  src/components/Teams.css.tsx
  src/components/Teams.tsx
  src/components/TeamsFriend.tsx
  src/components/responsive-image.tsx
  src/components/search/ProductModal.tsx
  src/components/search/Search.css.tsx
  src/components/search/index.tsx
  src/domain/articles/article-service.ts
  src/layout/PageSection.tsx
  src/pages/index.tsx
  src/styles/theme.tsx
Due: none

Rename pola.modules to pola.middlewares
  pola/config/settings/production.py
  pola/middlewares.py
Due: flynt, isort

Rename pola.modules to pola.middlewares (#651)
  pola/config/settings/production.py
  pola/middlewares.py
Due: flynt, isort

Pola friends (#71)
  src/assets/AmeriPol-Trading.png
  src/assets/AvetPharma.png
  src/assets/Browar-Piwojad.png
  src/assets/logo_radziemska.png
  src/components/Contents.tsx
  src/components/Friends.css.tsx
  src/components/Friends.tsx
  src/domain/friends/friend-service.ts
  src/domain/friends/index.ts
  src/layout/PageLayout.tsx
  src/pages/index.tsx
  src/state/createStore.ts
  src/state/friends/friends-actions.ts
  src/state/friends/friends-dispatcher.ts
  src/state/friends/friends-reducer.ts
  src/state/types.ts
Due: none

Change development section (#72)
  src/components/DevelopmentSection.tsx
  src/components/DevelopmnetSection.css.tsx
  src/components/buttons/Button.tsx
  src/components/buttons/PrimaryButton.tsx
  src/components/buttons/SecondaryButton.tsx
Due: none

Theme color structure (#73)
  src/components/About.tsx
  src/components/DevelopmentSection.tsx
  src/components/DevelopmnetSection.css.tsx
  src/components/Download.css.tsx
  src/components/Friends.tsx
  src/components/SocialMedia.tsx
  src/components/Teams.tsx
  src/components/TeamsFriend.tsx
  src/components/articles/ArticleBlock.tsx
  src/components/buttons/Button.tsx
  src/components/buttons/IconButton.tsx
  src/components/search/ProductModal.tsx
  src/components/search/ProductModalAction.tsx
  src/components/search/Search.css.tsx
  src/components/search/SearchResultElement.tsx
  src/components/search/SearchResultsList.tsx
  src/layout/PageFooter.tsx
  src/layout/PageHeader.tsx
  src/layout/modal/Modal.tsx
  src/layout/modal/ModalHeader.tsx
  src/layout/nav/HamburgerMenu.tsx
  src/layout/nav/NavbarMenu.tsx
  src/pages/index.tsx
  src/styles/GlobalStyle.css.tsx
  src/styles/theme.tsx
Due: none

Migrate from django-mailgun to django-anymail
  pola/config/settings/production.py
  requirements/production.txt
Due: flynt, isort

Migrate from django-mailgun to django-anymail (#653)
  pola/config/settings/production.py
  requirements/production.txt
Due: flynt, isort

About pola (#74)
  package-lock.json
  package.json
  src/components/About.css.tsx
  src/components/About.tsx
  src/components/Contents.css.tsx
  src/components/Contents.tsx
  src/components/DevelopmentSection.tsx
  src/components/DevelopmnetSection.css.tsx
  src/components/Download.css.tsx
  src/components/Download.tsx
  src/components/Friends.css.tsx
  src/components/Friends.tsx
  src/components/SocialMedia.css.tsx
  src/components/SocialMedia.tsx
  src/components/Teams.css.tsx
  src/components/Teams.tsx
  src/components/TeamsFriend.tsx
  src/components/articles/ArticleBlock.css.tsx
  src/components/articles/ArticleBlock.tsx
  src/components/articles/ArticlesList.css.tsx
  src/components/articles/ArticlesList.tsx
  src/components/buttons/Button.tsx
  src/layout/modal/Modal.tsx
  src/pages/index.tsx
  src/styles/theme.tsx
Due: none

PW-32: api errors handling
  package.json
  src/app-config.json
  src/components/search/ProductModal.tsx
  src/components/search/ProductModalAction.tsx
  src/components/search/ProductScore.tsx
  src/components/search/Search.css.tsx
  src/components/search/SearchInput.tsx
  src/components/search/SearchResultElement.tsx
  src/components/search/SearchResultsList.tsx
  src/components/search/index.tsx
  src/domain/articles/index.ts
  src/domain/friends/index.ts
  src/domain/products/ean-service.test.ts
  src/domain/products/ean-service.ts
  src/domain/products/index.ts
  src/domain/products/search-service.ts
  src/layout/PageLayout.tsx
  src/pages/index.tsx
  src/services/api-errors.ts
  src/state/search/search-dispatcher.ts
  src/utils/data/random-number.ts
  src/utils/error-boundary/index.tsx
  tsconfig.json
Due: none

PW-32: fix product EAN model
  src/domain/products/ean-service.ts
Due: none

PW-32: fix product id to string
  package-lock.json
  src/components/search/SearchResultElement.tsx
  src/components/search/SearchResultsList.tsx
  src/components/search/index.tsx
  src/domain/products/ean-service.ts
  src/domain/products/index.ts
  src/domain/products/search-service.ts
  src/pages/index.tsx
  src/state/search/search-dispatcher.ts
Due: none

Revert "Bump redux from 4.0.4 to 4.1.0 (#67)"
  package-lock.json
  package.json
Due: none

Path conditions:
  flynt: any of: \.py$, but not: ^pola/static|^db_kbpoz/
  yamllint: any of: \.(yaml|yml)$, but not: ^pola/static|^db_kbpoz/
  shellcheck: any of: \.sh$, but not: ^pola/static|^db_kbpoz/
  isort: any of: \.py$, but not: ^pola/static|^db_kbpoz/
