Repository KlubJagiellonski/pola-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, isort

.pre-commit-config.yaml:

---
default_stages: [commit, push]
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
minimum_pre_commit_version: "1.20.0"
exclude: "^pola-web"
repos:
  #  - repo: https://github.com/Lucas-C/pre-commit-hooks
  #    rev: v1.1.7
  #    hooks:
  #      - id: forbid-tabs
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-xml
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args:
          - --remove
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.4.3
    hooks:
      - id: pyupgrade
        args: [--py3-plus]
        language_version: "python3.7"
  - repo: https://github.com/psf/black
    rev: '19.10b0'
    hooks:
      - id: black
        args: ["--line-length", "120", "--skip-string-normalization", "--target-version", "py35"]
        language_version: python3.7
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.5.1
    hooks:
      - id: rst-backticks
      - id: python-no-log-warn
  #  - repo: https://github.com/pre-commit/mirrors-pylint
  #    rev: 'v2.5.2'
  #    hooks:
  #      - id: pylint
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.0'
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: yamllint
        name: Check yaml files with yamllint
        entry: yamllint -c yamllint-config.yml
        language: python
        additional_dependencies: ['yamllint']
        types: [yaml]
      - id: shellcheck
        name: Check Shell scripts syntax correctness
        language: docker_image
        entry: koalaman/shellcheck:stable -x -a
        files: \.sh$
      - id: hadolint
        name: Hadolint
        description: Haskell-based Docker image linter
        language: docker_image
        types:
          - dockerfile
        entry: --entrypoint /bin/hadolint hadolint/hadolint:latest --ignore DL3013 --ignore DL3018 --ignore DL3008 -
      - id: isort
        name: Run isort to sort imports
        language: python
        entry: isort
        files: \.py$
        additional_dependencies: ['isort']

Update jedi from 0.17.2 to 0.18.0
  requirements/local.txt
Due: none

Update ptyprocess from 0.6.0 to 0.7.0
  requirements/local.txt
Due: none

Update parso from 0.7.1 to 0.8.1
  requirements/local.txt
Due: none

Update soupsieve from 2.0.1 to 2.1
  requirements/local.txt
Due: none

Update traitlets from 4.3.3 to 5.0.5
  requirements/local.txt
Due: none

Add minio for S3 integration tests
  .env.example
  Development_with_Docker.md
  docker-compose-ci.yaml
  docker-compose.yaml
  pola/config/settings/common.py
  pola/config/settings/local.py
  pola/config/settings/production.py
  requirements/base.txt
  requirements/production.txt
  scripts/aws-cli-dev.sh
  scripts/mc.sh
  scripts/prod-docker-image/Dockerfile
Due: yamllint, shellcheck, isort

fixup! Add minio for S3 integration tests
  docker-compose-ci.yaml
  docker-compose.yaml
Due: yamllint

fixup! fixup! Add minio for S3 integration tests
  .github/workflows/ci.yml
  docker-compose-ci.yaml
  docker-compose.yaml
Due: yamllint

fixup! fixup! fixup! Add minio for S3 integration tests
  .github/workflows/ci.yml
Due: yamllint

fixup! fixup! fixup! fixup! Add minio for S3 integration tests
  .github/workflows/ci.yml
Due: yamllint

Add minio for S3 integration tests (#336)
  .env.example
  .github/workflows/ci.yml
  Development_with_Docker.md
  docker-compose-ci.yaml
  docker-compose.yaml
  pola/config/settings/common.py
  pola/config/settings/local.py
  pola/config/settings/production.py
  requirements/base.txt
  requirements/production.txt
  scripts/aws-cli-dev.sh
  scripts/mc.sh
  scripts/prod-docker-image/Dockerfile
Due: yamllint, shellcheck, isort

Add integration tests for create ai_pics/report
  pola/rpc_api/tests/test_urls.py
Due: isort

Add integration tests for create ai_pics/report
  ai_pics/factories.py
  ai_pics/models.py
  docker-compose.yaml
  pola/config/settings/common.py
  pola/rpc_api/tests/test_urlls.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/views.py
Due: yamllint, isort

Add integration tests for create ai_pics/report
  ai_pics/factories.py
  ai_pics/models.py
  docker-compose.yaml
  pola/config/settings/common.py
  pola/config/settings/tests.py
  pola/rpc_api/tests/test_urls.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/views.py
Due: yamllint, isort

Add JSON schema and integration tests for API (#338)
  ai_pics/factories.py
  ai_pics/models.py
  docker-compose.yaml
  pola/config/settings/common.py
  pola/config/settings/tests.py
  pola/rpc_api/tests/test_urls.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/views.py
Due: yamllint, isort

Veiryf requiremenets files on CI
  requirements/ci.txt
  requirements/local.txt
  requirements/production.txt
  scripts/ci-docker-image/Dockerfile
  scripts/ci-docker-image/_functions.sh
  scripts/ci-docker-image/verify_image.sh
  scripts/prod-docker-image/Dockerfile
  scripts/prod-docker-image/_functions.sh
Due: shellcheck

fixup! Veiryf requiremenets files on CI
  .github/workflows/ci.yml
Due: yamllint

fixup! fixup! Veiryf requiremenets files on CI
  requirements/production.txt
  scripts/_base_variables.sh
  scripts/ci-docker-image/_functions.sh
  scripts/prod-docker-image/_functions.sh
Due: shellcheck

fixup! fixup! fixup! Veiryf requiremenets files on CI
  scripts/ci-docker-image/entrypoint.sh
Due: shellcheck

fixup! fixup! fixup! fixup! Veiryf requiremenets files on CI
  requirements/ci.txt
  requirements/production.txt
  scripts/ci-docker-image/_functions.sh
  scripts/prod-docker-image/_functions.sh
Due: shellcheck

fixup! fixup! fixup! fixup! fixup! Veiryf requiremenets files on CI
  scripts/ci-docker-image/_functions.sh
  scripts/prod-docker-image/_functions.sh
Due: shellcheck

fixup! fixup! fixup! fixup! fixup! fixup! Veiryf requiremenets files on CI
  requirements/ci.txt
Due: none

fixup! fixup! fixup! fixup! fixup! fixup! fixup! Veiryf requiremenets files on CI
  requirements/production.txt
  scripts/ci-docker-image/_functions.sh
  scripts/prod-docker-image/_functions.sh
Due: shellcheck

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Veiryf requiremenets files on CI
  requirements/production.txt
  scripts/prod-docker-image/Dockerfile
Due: none

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Veiryf requiremenets files on CI
  .github/workflows/ci.yml
  docker-compose-ci.yaml
Due: yamllint

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Veiryf requiremenets files on CI
  .github/workflows/ci.yml
  docker-compose-ci.yaml
Due: yamllint

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Veiryf requiremenets files on CI
  .github/workflows/ci.yml
  scripts/ci-docker-image/Dockerfile
Due: yamllint

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Veiryf requiremenets files on CI
  .github/workflows/ci.yml
Due: yamllint

Verify requirements files on CI (#339)
  .github/workflows/ci.yml
  docker-compose-ci.yaml
  requirements/ci.txt
  requirements/local.txt
  requirements/production.txt
  scripts/_base_variables.sh
  scripts/ci-docker-image/Dockerfile
  scripts/ci-docker-image/_functions.sh
  scripts/ci-docker-image/entrypoint.sh
  scripts/ci-docker-image/verify_image.sh
  scripts/prod-docker-image/Dockerfile
  scripts/prod-docker-image/_functions.sh
Due: yamllint, shellcheck

Fix Trivy scanner
  .github/workflows/ci.yml
Due: yamllint

fixup! Fix Trivy scanner
  scripts/prod-docker-image/_functions.sh
Due: shellcheck

Add files via upload
  pola/static/images/friends/AmeriPol.PNG
Due: none

To już szósta firma na pokładzie
  pola/templates/partiales/friends.html
Due: none

Update django from 3.1.3 to 3.1.5
  requirements/production.txt
Due: none

Update unidecode from 1.1.1 to 1.1.2
  requirements/production.txt
Due: none

Update unidecode from 1.1.1 to 1.1.2
  requirements/ci.txt
Due: none

Update boto3 from 1.16.4 to 1.16.47
  requirements/production.txt
Due: none

Update boto3 from 1.16.4 to 1.16.47
  requirements/ci.txt
Due: none

Update botocore from 1.19.4 to 1.19.47
  requirements/production.txt
Due: none

Update botocore from 1.19.4 to 1.19.47
  requirements/ci.txt
Due: none
