Repository KlubJagiellonski/pola-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, isort

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml
  language: python
  additional_dependencies:
  - yamllint

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

isort:
  name: Run isort to sort imports
  language: python
  entry: isort
  additional_dependencies:
  - isort

Trigger CI
  .github/workflows/migration_check.yml
Due: yamllint

fixup! Trigger CI
  .github/workflows/migration_check.yml
Due: yamllint

fixup! fixup! Trigger CI
  .github/workflows/migration_check.yml
Due: yamllint

fixup! fixup! fixup! Trigger CI
  .github/workflows/migration_check.yml
Due: yamllint

fixup! fixup! fixup! fixup! Trigger CI
  .github/workflows/migration_check.yml
Due: yamllint

fixup! fixup! fixup! fixup! fixup! Trigger CI
  .github/workflows/migration_check.yml
Due: yamllint

Add manually triggered migration validation (#443)
  .github/workflows/migration_check.yml
Due: yamllint

Display own brandse info in name field
  pola/logic.py
  pola/rpc_api/tests/test_views.py
Due: isort

Return report information as a object
  pola/logic.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/views.py
Due: isort

fixup! Return report information as a object
  pola/rpc_api/views.py
Due: isort

Display own brandse info in name field (#447)
  pola/logic.py
  pola/rpc_api/tests/test_views.py
Due: isort

Return report information as a object (#448)
  pola/logic.py
  pola/rpc_api/tests/test_views.py
  pola/rpc_api/views.py
Due: isort

fixup! Bump urllib3 from 1.25.11 to 1.26.3
  requirements/ci.txt
  requirements/production.txt
Due: none

fixup! fixup! Bump urllib3 from 1.25.11 to 1.26.3
  scripts/ci-docker-image/Dockerfile
  scripts/prod-docker-image/Dockerfile
Due: none

Auto merge dependencies update
  .github/workflows/automerge.yml
Due: yamllint

fixup! Auto merge dependencies update
  .github/dependabot.yml
  .github/workflows/automerge.yml
Due: yamllint

fixup! fixup! Auto merge dependencies update
  .github/dependabot.yml
Due: yamllint

fixup! fixup! fixup! Auto merge dependencies update
  .github/workflows/automerge.yml
Due: yamllint

fixup! fixup! fixup! fixup! Auto merge dependencies update
  .github/workflows/automerge.yml
Due: yamllint

Auto merge dependencies updates (#450)
  .github/dependabot.yml
  .github/workflows/automerge.yml
Due: yamllint

fixup! Auto merge dependencies updates (#450)
  .github/dependabot.yml
Due: yamllint

fixup! fixup! Auto merge dependencies updates (#450)
  .github/workflows/automerge.yml
Due: yamllint

Bump Python from 3.6 to 3.9
  .github/workflows/ci.yml
  docker-compose.yaml
  scripts/_base_variables.sh
  scripts/ci-docker-image/Dockerfile
  scripts/prod-docker-image/Dockerfile
Due: yamllint, shellcheck

Bump Python from 3.6 to 3.9 (#453)
  .github/workflows/ci.yml
  docker-compose.yaml
  scripts/_base_variables.sh
  scripts/ci-docker-image/Dockerfile
  scripts/prod-docker-image/Dockerfile
Due: yamllint, shellcheck

Fix hadolint errors
  scripts/prod-docker-image/Dockerfile
Due: none

Fix hadolint errors (#461)
  scripts/prod-docker-image/Dockerfile
Due: none

Update automerge.yml
  .github/workflows/automerge.yml
Due: yamllint

Schedule automerge
  .github/workflows/automerge.yml
Due: yamllint

Schedule automerge (#460)
  .github/workflows/automerge.yml
Due: yamllint

fixup! Bump django from 3.1.6 to 3.1.7
  docker-compose.yaml
Due: yamllint

add "resolve all reports with the same product" button
  report/templates/report/report_detail.html
  report/templates/report/report_resolve_all.html
  report/urls.py
  report/views.py
Due: isort

add db populate script
  README.rst
  populate.py
Due: isort

fix
  report/views.py
Due: isort

fix
  populate.py
Due: isort

fix2
  .pre-commit-config.yaml
Due: yamllint

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^pola-web
  shellcheck: any of: \.sh$, but not: ^pola-web
  isort: any of: \.py$, but not: ^pola-web
